body {
    /* background-color: #2d2e38; */
    color: #F5FBEF;
    margin-left: 200px;
    background-image: url("background.jpg");
    background-attachment: fixed;

  }
a:hover   {
    color: #F5FBEF;
    cursor: pointer;
  }

/* NAVBAR */
#signOut{
    margin-top: 65%;
}
.navLinkBlock {
    background-color: #AF125A;
    height: 100%;
    width: 190px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
    text-align: center;
}

.navLink{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #F5FBEF;
    /* margin-left: 20px; */
    margin-bottom: 5%;
    font-size: x-large;
}
.navLink a:visited{
    color: #F5FBEF;
}
.navLinkBlock a:hover{
    text-decoration: underline;
    color: #F5FBEF;
}
.navLinkBlock a:active{
    color: #F5FBEF;
}
.navLinkBlock a:link{
    color: #F5FBEF;
}
.logoIcon {
    box-sizing: content-box;
    height: 150px;
    width: 150px;
    /* padding-left: 20px; */
    margin-bottom: 100px;
}
/* END NAVBAR */

/* HOME PAGE */

.movieContainer{
    display: flex;
    flex-wrap: wrap;
}
.movieCard{
    border-radius: 25px;
    background-color: #515152;
    border: 2px solid #F5FBEF;
    text-decoration: none;
    /* background-color: #5BC0BE; */
    color: #F5FBEF;
    width: 46%;
    min-height: 200px;
    height: 20%;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding: auto;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.movieContent{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}
#moviePicture{
    justify-self: start;
}
#movieRating{
    align-self: center;
    /* justify-self: center; */
}
#movieTitle{
    height: fit-content;
    /* justify-self: center; */
}
.movieContainer a:hover{
    color: #F5FBEF;
}

.ModalContainer{
    /* background-color: #515152; */
    color: #5BC0BE;

}
.ModalContent{
    background-color: #2d2e38;
    color: #F5FBEF;
}

#addToWatchlistOverall{
    /* background-color: #AF125A; */
    /* position: absolute;
    top: 10px;
    left: 90%; */
    /* position: right;
    align-self:flex-start; */
    /* float: right */
    justify-self: center;
    margin-right: 35px;
}

.createReviewBtn{
    height: 31px;
    margin-left: 10px;
}
/* #watchlistAdd{
    margin-left: 10px;
} */
.actionIcons{
    width: 32px;
    height: 33px;
    padding: 0px;
}

.reviewContainer{
    display: flex;
    flex-wrap: wrap;
}
.reviewCard{
    border-radius: 25px;
    background-color: #515152;
    border: 2px solid #F5FBEF;
    text-decoration: none;
    /* background-color: #5BC0BE; */
    color: #F5FBEF;
    width: 70%;
    min-height: 200px;
    height: 20%;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding: auto;
    margin-bottom: 30px;
    cursor: pointer;
    /* display: flex;
    flex-wrap: wrap; */
}

.reviewCardAllItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviewFirstBox{

}
.reviewSecondBox{
    
}
.reviewThirdBox{
    margin-right: 35px;
}
.watchlistFirstBox{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.watchlistSecondBox{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.watchlistThirdBox{
    margin-right: 35px;
}
.watchlistAllItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.watchlistContainer{
    display: flex;
    flex-wrap: wrap;
}
.watchlistCard{
    border-radius: 25px;
    background-color: #515152;
    border: 2px solid #F5FBEF;
    text-decoration: none;
    /* background-color: #5BC0BE; */
    color: #F5FBEF;
    width: 70%;
    min-height: 150px;
    height: 20%;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding: auto;
    margin-bottom: 10px;
    cursor: pointer;
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-between; */

}

.searchBar{
    background-color: #F5FBEF;
    border: 2px solid #F5FBEF;
    color: #AF125A;
    margin-left:20%;
    width: 46%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
}
.searchBar::placeholder{
    color: #AF125A;
}

.commentBar{
    background-color: #F5FBEF;
    border: 2px solid #F5FBEF;
    color: #AF125A;
    margin-left:15%;
    width: 65%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
}
.commentBar::placeholder{
    color: #AF125A;
}
.Comment{
    border: 2px solid #2d2e38;
    border-radius: 15px;
    background-color: #F5FBEF;
    padding: 10px;
    color: #2d2e38;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}
.closeModalBtn{
    margin-left: 85%;
    margin-top: 20px;
}
.title{
color: #AF125A;
font-size: large;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.welcomeTitle{
    text-align: center;
    color: #F5FBEF;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.plainPinkTitle{
    color: #AF125A;
    font-size:large;
}
#marginLeft{
    margin-left: 15px;
}
#noMarginButton{
    padding-left: 0;
}
.marginTop{
    margin-top: 30px;
}
.overAllFriendButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.friendButtons{
    display: flex;
    justify-content: space-between;
}

.updateUser{
    border-radius: 25px;
    background-color: #515152;
    border: 2px solid #F5FBEF;
    text-decoration: none;
    /* background-color: #5BC0BE; */
    color: #F5FBEF;
    width: 45%;
    min-height: 150px;
    height: 20%;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding: auto;
    margin-bottom: 10px;
}

.stats{
    border-radius: 25px;
    background-color: #515152;
    border: 2px solid #F5FBEF;
    text-decoration: none;
    /* background-color: #5BC0BE; */
    color: #F5FBEF;
    width: 45%;
    min-height: 150px;
    height: 20%;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding: auto;
    margin-bottom: 10px;
}
#inactive{
    background-color: #515152;
    color: #F5FBEF;
}
#active{
    background-color: #F5FBEF;
    color: #AF125A;
}
/* .accountPage{
    display: flex;
} */

.startPageCard{
    border-radius: 25px;
    background-color: #515152;
    border: 2px solid #F5FBEF;
    text-decoration: none;
    /* background-color: #5BC0BE; */
    color: #F5FBEF;
    width: 45%;
    min-height: 150px;
    height: 20%;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding: auto;
    margin-bottom: 10px;
}
.startContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}